@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Styles */
html {
  @apply text-[14px] md:text-[12px] text-gray-900 bg-gray-300;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
body {
  @apply flex flex-col max-w-screen-lg min-h-screen mx-auto;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  @apply text-4xl font-semibold tracking-wide;
}
h2 {
  @apply text-2xl font-semibold tracking-wide;
}
h3 {
  @apply text-xl font-semibold tracking-wide;
}
h4 {
  @apply text-base font-semibold tracking-wide;
}
h5 {
  @apply text-sm font-semibold tracking-wide;
}
p {
  @apply text-base tracking-wide;
}

#__next {
  @apply flex flex-col max-w-screen-lg min-h-screen mx-auto;
}

/* Components */
@layer components {
  .card {
    @apply rounded-l rounded-br shadow rounded-tr-xl;
  }
  .mini-card {
    @apply px-4 py-2 bg-white/5 card;
  }
  .loader {
    @apply w-16 h-16 border-8 border-t-8 rounded-full md:h-20 md:w-20 border-zinc-500 border-t-sky-500;
    animation: spin 2s linear infinite;
  }
}

/* Styles */
.hot {
  @apply bg-hot;
}
.cool {
  @apply bg-cool;
}
.mild {
  @apply bg-mild;
}
.txt-hot {
  @apply text-hot;
}
.txt-cool {
  @apply text-cool;
}
.txt-mild {
  @apply text-mild;
}
.hover-hot {
  @apply hover:bg-gradient-to-r hover:from-milder hover:to-hot;
}
.hover-cool {
  @apply hover:bg-gradient-to-r hover:from-cool hover:to-purple-300;
}
.hover-mild {
  @apply hover:bg-gradient-to-r hover:from-mild hover:to-milder;
}

.leaflet-container {
  @apply h-full;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
